@import 'mixins';

:host {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;

  .__header {

  }

  .__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--app-text-size--xl);
    font-weight: 500;
    color: var(--app-color-text-secondary);
    background: var(--app-color-background);

    .__content-text {
      text-align: center;
    }

    h1 {
      display: block;
      font-size: var(--app-text-size--xl);
      color: var(--app-color-text-primary);
      margin: 0;
    }

    h2 {
      display: block;
      font-size: var(--app-text-size--lg);
      font-weight: normal;
      margin: 0;
    }

  }
}
