@import 'mixins';

:host {

  h1 {
    padding: var(--app-spacing--md) var(--app-spacing--lg) var(--app-spacing--md);
    margin-bottom: 0;
    border-bottom: var(--app-border);
    @include app-blur-backdrop();
    position: sticky;
    top: 0;
  }
}
